[Desktop Entry]
Name=NetstatLive
Comment=Graphical network connections monitor grouping by processes
Comment[ru]=Графическая утилита мониторинга сетевой активности с группировкой по процессам.
Exec=netstatlive
Terminal=false
Type=Application
Categories=Network;Application;
